<a href="https://colab.research.google.com/github/llRodroll/Code_in_class/blob/main/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

we are going to start *promming*

# **1. What is Python?**

It was 1991 and can do anything

# **2. Why Python?**

It is free.
It is open source
It is easy to learn

# **3. Getting Started**

## 3.1 Python as a Calculator

In [ ]:
# Addition
2+2

4

In [ ]:
# Substraction
2-2

0

In [ ]:
# Multiplication
7*14

98

In [ ]:
# Exponential 
5**3

125

In [ ]:
# Divison
10/3

3.3333333333333335

In [ ]:
# Integer Division
10//3

3

## 3.2. Composite Operations

*Operator precedence*
2*3+7

First is * or /, then + or -

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses `( )` allows to modify operator precedence.

In [ ]:
# Example
(30-5)*4/2+7

57.0

## 3.3. Integers and Real Numbers

| Math | Code |
|------|------|
| Integers | Integers (int) |
| Real     | Float point (float) |

The *function* `type()` let's us check

In [ ]:
type(26.5)

float

### **Scientific notation**

The "form" = `x*10^y` it is written as `xey`

In [ ]:
# Example
1.52e2

152.0

What happen if you to represent `0.25` with scientific notation?

In [ ]:
# Answer
2.5e-1

0.25

In [ ]:
# Example 2
1.5e^5

SyntaxError: ignored

### **Transformation**

In [ ]:
# Example int to float
float(5)

5.0

In [ ]:
# Example float to int
int(7.25)

7

## 3.4. Basic functions

### **Print**

In [ ]:
# Number Example
print(2022,8,11)

2022 8 11

In [ ]:
# String (alphabet) Example
print('Rodrigo')

Rodrigo

In [ ]:
# More complicated string examples
print('First Name: Rodrigo','Last Name: Vélez')
print('First Name: Rodrigo\tLast Name: Vélez')
print('First Name: Rodrigo\nLast Name: Vélez')

First Name: Rodrigo Last Name: Vélez
First Name: Rodrigo	Last Name: Vélez
First Name: Rodrigo
Last Name: Vélez

In [ ]:
# More complicated string examples
print('First Name:','Rodrigo','Last Name:', 'Vélez')

First Name: Rodrigo Last Name: Vélez

In [ ]:
# More complicated number example
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Combine string and numbers
print('My favorite number is:',21, 'because aja')

My favorite number is: 21 because aja

### **Round**

In [ ]:
# A simple example
round(1.253,2)

1.25

In [ ]:
# Time to practice
# Consider the number 7.2345
# Print every result for rounding from 3 to 0 positions

print('Round with', 0, 'decimals:', round(7.2345,0))
print('Round with', 1, 'decimals:', round(7.2345,1))
print('Round with', 2, 'decimals:', round(7.2345,2))
print('Round with', 3, 'decimals:', round(7.2345,3))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [ ]:
# If we for loops
for i in range(0,4): print('Round with', i, 'decimals:', round(7.2345,i))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [1]:
# Practice
# Print the first 100 multiples of the number 2.

print('This is the list of the 100th Multiples of 2:')
for i in range(1,101): print('Position:', i, 'Multiple:',2*i)

This is the list of the 100th Multiples of 2:
Position: 1 Multiple: 2
Position: 2 Multiple: 4
Position: 3 Multiple: 6
Position: 4 Multiple: 8
Position: 5 Multiple: 10
Position: 6 Multiple: 12
Position: 7 Multiple: 14
Position: 8 Multiple: 16
Position: 9 Multiple: 18
Position: 10 Multiple: 20
Position: 11 Multiple: 22
Position: 12 Multiple: 24
Position: 13 Multiple: 26
Position: 14 Multiple: 28
Position: 15 Multiple: 30
Position: 16 Multiple: 32
Position: 17 Multiple: 34
Position: 18 Multiple: 36
Position: 19 Multiple: 38
Position: 20 Multiple: 40
Position: 21 Multiple: 42
Position: 22 Multiple: 44
Position: 23 Multiple: 46
Position: 24 Multiple: 48
Position: 25 Multiple: 50
Position: 26 Multiple: 52
Position: 27 Multiple: 54
Position: 28 Multiple: 56
Position: 29 Multiple: 58
Position: 30 Multiple: 60
Position: 31 Multiple: 62
Position: 32 Multiple: 64
Position: 33 Multiple: 66
Position: 34 Multiple: 68
Position: 35 Multiple: 70
Position: 36 Multiple: 72
Position: 37 Multiple: 74
Position: 38 Multiple: 76
Position: 39 Multiple: 78
Position: 40 Multiple: 80
Position: 41 Multiple: 82
Position: 42 Multiple: 84
Position: 43 Multiple: 86
Position: 44 Multiple: 88
Position: 45 Multiple: 90
Position: 46 Multiple: 92
Position: 47 Multiple: 94
Position: 48 Multiple: 96
Position: 49 Multiple: 98
Position: 50 Multiple: 100
Position: 51 Multiple: 102
Position: 52 Multiple: 104
Position: 53 Multiple: 106
Position: 54 Multiple: 108
Position: 55 Multiple: 110
Position: 56 Multiple: 112
Position: 57 Multiple: 114
Position: 58 Multiple: 116
Position: 59 Multiple: 118
Position: 60 Multiple: 120
Position: 61 Multiple: 122
Position: 62 Multiple: 124
Position: 63 Multiple: 126
Position: 64 Multiple: 128
Position: 65 Multiple: 130
Position: 66 Multiple: 132
Position: 67 Multiple: 134
Position: 68 Multiple: 136
Position: 69 Multiple: 138
Position: 70 Multiple: 140
Position: 71 Multiple: 142
Position: 72 Multiple: 144
Position: 73 Multiple: 146
Position: 74 Multiple: 148
Position: 75 Multiple: 150
Position: 76 Multiple: 152
Position: 77 Multiple: 154
Position: 78 Multiple: 156
Position: 79 Multiple: 158
Position: 80 Multiple: 160
Position: 81 Multiple: 162
Position: 82 Multiple: 164
Position: 83 Multiple: 166
Position: 84 Multiple: 168
Position: 85 Multiple: 170
Position: 86 Multiple: 172
Position: 87 Multiple: 174
Position: 88 Multiple: 176
Position: 89 Multiple: 178
Position: 90 Multiple: 180
Position: 91 Multiple: 182
Position: 92 Multiple: 184
Position: 93 Multiple: 186
Position: 94 Multiple: 188
Position: 95 Multiple: 190
Position: 96 Multiple: 192
Position: 97 Multiple: 194
Position: 98 Multiple: 196
Position: 99 Multiple: 198
Position: 100 Multiple: 200

### Absoulte Value

In [2]:
# Example
abs(-25)

25