<a href="https://colab.research.google.com/github/llRodroll/Code_in_class/blob/main/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

we are going to start *promming*

# **1. What is Python?**

It was 1991 and can do anything

# **2. Why Python?**

It is free.
It is open source
It is easy to learn

# **3. Getting Started**

## 3.1 Python as a Calculator

In [ ]:
# Addition
2+2

4

In [ ]:
# Substraction
2-2

0

In [ ]:
# Multiplication
7*14

98

In [ ]:
# Exponential 
5**3

125

In [ ]:
# Divison
10/3

3.3333333333333335

In [ ]:
# Integer Division
10//3

3

## 3.2. Composite Operations

*Operator precedence*
2*3+7

First is * or /, then + or -

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses `( )` allows to modify operator precedence.

In [ ]:
# Example
(30-5)*4/2+7

57.0

## 3.3. Integers and Real Numbers

| Math | Code |
|------|------|
| Integers | Integers (int) |
| Real     | Float point (float) |

The *function* `type()` let's us check

In [ ]:
type(26.5)

float

### **Scientific notation**

The "form" = `x*10^y` it is written as `xey`

In [1]:
# Example
1.52e2

152.0

What happen if you to represent `0.25` with scientific notation?

In [8]:
# Answer
2.5e-1

0.25

In [13]:
# Example 2
1.5e^5

SyntaxError: ignored

### **Transformation**

In [14]:
# Example int to float
float(5)

5.0

In [15]:
# Example float to int
int(7.25)

7

## 3.4. Basic functions

### **Print**

In [18]:
# Number Example
print(2022,8,11)

2022 8 11

In [22]:
# String (alphabet) Example
print('Rodrigo')

Rodrigo

In [25]:
# More complicated string examples
print('First Name: Rodrigo','Last Name: Vélez')
print('First Name: Rodrigo\tLast Name: Vélez')
print('First Name: Rodrigo\nLast Name: Vélez')

First Name: Rodrigo Last Name: Vélez
First Name: Rodrigo	Last Name: Vélez
First Name: Rodrigo
Last Name: Vélez

In [26]:
# More complicated string examples
print('First Name:','Rodrigo','Last Name:', 'Vélez')

First Name: Rodrigo Last Name: Vélez

In [27]:
# More complicated number example
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
# Combine string and numbers
print('My favorite number is:',21, 'because aja')

My favorite number is: 21 because aja

### **Round**

In [30]:
# A simple example
round(1.253,2)

1.25

In [36]:
# Time to practice
# Consider the number 7.2345
# Print every result for rounding from 3 to 0 positions

print('Round with', 0, 'decimals:', round(7.2345,0))
print('Round with', 1, 'decimals:', round(7.2345,1))
print('Round with', 2, 'decimals:', round(7.2345,2))
print('Round with', 3, 'decimals:', round(7.2345,3))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [39]:
# If we for loops
for i in range(0,4): print('Round with', i, 'decimals:', round(7.2345,i))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [ ]:
# Practice
# Print the first 100 multiples of the number 2.