<a href="https://colab.research.google.com/github/llRodroll/Code_in_class/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What is a Variable?

*Container*, **stores** values

# 2. Declaration and Assigment

In [ ]:
# Example

a = 4

In [ ]:
# Example using variable
print(a + 1)

5

In [ ]:
# Example
x = y = z = 100
print(x,y,z)

100 100 100

# 3. Delete and Clear

In [ ]:
# Example - deleting a single variable
age = 21
del age

In [ ]:
# Example - deleting a list of variables
del a,at

In [ ]:
# Example - erase or clear all variables
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# Loops with variables
x = 5.123684
for i in range(0,4): print('Round with', i, 'decimals:', round(x,i))

Round with 0 decimals: 5.0
Round with 1 decimals: 5.1
Round with 2 decimals: 5.12
Round with 3 decimals: 5.124

In [ ]:
# Loops with variables - #2.

y = 15
print('This is the list of the 100th Multiples of', y,':')
for i in range(1,101): print('Position:', i, 'Multiple:',y*i)

# 4. Naming

## 4.1. Conditions and Restrictions

The names must have only alphanumeric characters (from `0 to 1`, `a to z`, `A to Z`) and underscore `_`.

**WARNING** A variable name MUST noy begin with a number.

In [5]:
# Example
my_age = 100
person1 = 'me'

## 4.2. Best Practices

* Variables are case sentitive:

In [6]:
# Example

age = 12
Age = 13
AGE = 14

The best practice in Python is to used lower case.

* Composite names

In [ ]:
# Example
book_price = 100
book_quant = 20

* Use meaingful names

Names should tell you something

In [ ]:
stock_price = 25

# 5. Data types

## 5.1. Integers

In [10]:
stock_price = 25
print(type(stock_price))

<class 'int'>

## 5.2. Float

In [11]:
stock_price = 25.45
print(type(stock_price))

<class 'float'>

## Python as a Calculator

In [14]:
# Example

x = 3
y = 4
z = 5
print('x + y = ', x + y)
print('x * z = ', x + z)

x + y =  7
x * z =  8

Let's try a **nice trick**

In [23]:
# Nice Trick
w = 0

In [29]:
# Nice Trick
w += 2
print(w)

12

## 5.3. Booleans

These are variables with values of `True` or `False`.

In [30]:
# Example

is_sunny = True
print(type(is_sunny))

<class 'bool'>

More important are **BOOLEAN EXPRESSIONS**.

In [31]:
# Example

x = 2
y = 3

print('is x equals to y?', x == y)
print('is x NOT equal to y?', x != y)
print('is x greater than y?', x > y)
print('is x less than y?', x < y)

is x equals to y? False
is x NOT equal to y? True
is x greater than y? False
is x less than y? True

In [ ]:
# Practice - hard mode!!!

# Using loops, you are going to evalaute the b_e
# x+y > x*y
# For x = 1,2,3,...,10
#     y = 11,12,13,...,20

In [ ]:
# A Solution

print('Is x + y > x * y?')
for x in range(1,11):
  for y in range(11,21):
    print('Is ', x ,'+', y, '>', x,'*', y, '?', x + y > x * y)

In [36]:
# Practice
# Multiplication - A solutions

for x in range(1,9):
  print('Table of', x, ':')
  for y in range(1,9):
    print(x, '*', y, '= ', x*y)

Table of 1 :
1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
Table of 2 :
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
Table of 3 :
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
Table of 4 :
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
Table of 5 :
5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
Table of 6 :
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
Table of 7 :
7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
Table of 8 :
8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64