<a href="https://colab.research.google.com/github/llRodroll/Code_in_class/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Data Structure and Pandas**

`numpy` is for vector and matrices (`arrays`).

`pandas` is a library to work with databases (data with relations and conextions). In practical terms, `pandas` is the Excel of Python.

To make clear you can work with `numpy` and `pandas` at the same time.

In [5]:
import pandas as pd
import numpy as np

# **2. Pandas Series**

A Series (in pandas) is a one-dimensional object.

## 2.1. Series creation

In [6]:
# Empty series

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Creating a Series - typing the values
## int values

s_int = pd.Series([1,2,3,4,5,6,7])
print(s_int)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [8]:
# Creating a Series - using random numbers
## float values

s_num = pd.Series(np.random.rand(8))
print(s_num)

0    0.569005
1    0.818499
2    0.724899
3    0.146056
4    0.907963
5    0.965490
6    0.297584
7    0.589945
dtype: float64

In [9]:
# Creating a Series
## with str

s_str = pd.Series(['Valentina', 'Ashly','Alice','Cristian','Karen','Rodrigo'])
print(s_str)

0    Valentina
1        Ashly
2        Alice
3     Cristian
4        Karen
5      Rodrigo
dtype: object

In [10]:
# Creating a Series

tmp = pd.Series([1, 0.2548, 'Python'])
print(tmp)

0         1
1    0.2548
2    Python
dtype: object

## 2.2. Indexing

In [16]:
# Check the index of a series

s_num.index

RangeIndex(start=0, stop=8, step=1)

In [18]:
# Create your own index

new_index = ['i','ii','iii','iv']
s_ran = pd.Series(np.random.rand(4), index = new_index)
print(s_ran)
s_ran.index

i      0.149678
ii     0.697245
iii    0.670939
iv     0.077653
dtype: float64

Index(['i', 'ii', 'iii', 'iv'], dtype='object')

## 2.3 Selecting and Slicing

Rember that series are one-dimensional objects, so we only need one *number* to identify an element.

In [21]:
# Selecting one value

print('The first element of s_num:',s_num[0])
print('The first element of s_ran:',s_ran[0])
print('The first element of s_ran:',s_ran['i'])

The first element of s_num: 0.5690054793110487
The first element of s_ran: 0.14967787418623613
The first element of s_ran: 0.14967787418623613

In [23]:
# Selecting more than one value

s_num[[5,7]] # this selects the 5th and 8th element

5    0.965490
7    0.589945
dtype: float64

In [24]:
# Selecting more than one value

s_ran[['i','iv']] # this selects the 1st and 4th element

i     0.149678
iv    0.077653
dtype: float64

In [27]:
# Selecting a sequence of values

print(s_num[:3])

0    0.569005
1    0.818499
2    0.724899
dtype: float64

In [28]:
# Change a value

s_num[0] = 100 # chaning the first element of s_num
print(s_num)

0    100.000000
1      0.818499
2      0.724899
3      0.146056
4      0.907963
5      0.965490
6      0.297584
7      0.589945
dtype: float64

## 2.4. Operations

In [ ]:
# Basic operations - element wise

## Addtion
s_num + 2

## Substraction
s_num - 3

## Mutliplication
s_num * 4

## Division
s_num / 5

## Exponentiation
s_num ** 2

## Special
np.exp(s_num)
np.log(s_num)

# **3. Pandas Time-Series**

It is a very special object because is that the index are dates.

## 3.1. Indexing Pandas TimeSeries

In [36]:
# Create a date range

pd.date_range(start = '01/01/2022', end = '28/09/2022')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22',
               '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26',
               '2022-09-27', '2022-09-28'],
              dtype='datetime64[ns]', length=271, freq='D')

In [37]:
# Create a date range

pd.date_range(start = '01/01/2022', periods = 35)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04'],
              dtype='datetime64[ns]', freq='D')

In [39]:
# Create a date range

pd.date_range(end = '28/09/2022', periods = 23, freq = 'D')

DatetimeIndex(['2022-09-06', '2022-09-07', '2022-09-08', '2022-09-09',
               '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13',
               '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-17',
               '2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21',
               '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25',
               '2022-09-26', '2022-09-27', '2022-09-28'],
              dtype='datetime64[ns]', freq='D')

If I need a different frequency:
* H - hourly
* M - end of the month
* MS - start of the month
* XM - 2M
* XMS - 2MS
* Q - end of the quarter
* QS - start of the quarter
* A or Y - end of the year
* AS or YS - start of the year

In [45]:
pd.date_range(start = '28/09/2022', periods = 37, freq = 'M')

DatetimeIndex(['2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31',
               '2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31',
               '2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30'],
              dtype='datetime64[ns]', freq='M')

## 3.2. Assign a time-series index

In [48]:
# Create a Series
# How do I get append or assign dates?
my_dates = pd.date_range(start = '26/09/2022', end = '30/09/2022')

s_sales = pd.Series(np.random.randint(low = 100, high = 300, size = 5),
                    index = my_dates) # this is the data for sales
print(s_sales)

2022-09-26    291
2022-09-27    231
2022-09-28    187
2022-09-29    130
2022-09-30    114
Freq: D, dtype: int64