<a href="https://colab.research.google.com/github/llRodroll/Code_in_class/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Data Structure and Pandas**

`numpy` is for vector and matrices (`arrays`).

`pandas` is a library to work with databases (data with relations and conextions). In practical terms, `pandas` is the Excel of Python.

To make clear you can work with `numpy` and `pandas` at the same time.

In [1]:
import pandas as pd
import numpy as np

# **2. Pandas Series**

A Series (in pandas) is a one-dimensional object.

## 2.1. Series creation

In [2]:
# Empty series

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
# Creating a Series - typing the values
## int values

s_int = pd.Series([1,2,3,4,5,6,7])
print(s_int)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [5]:
# Creating a Series - using random numbers
## float values

s_num = pd.Series(np.random.rand(8))
print(s_num)

0    0.526498
1    0.207269
2    0.408478
3    0.294975
4    0.779770
5    0.200731
6    0.157128
7    0.691580
dtype: float64